{{#if isAuthenticated}}
  <a {{action logoutAction}}>
    Logout
  </a>
{{else}}
  <a {{action loginAction}}>
    <img width="16" height="16" src="/assets/images/GitHub-Mark-32px.png" /> Login
  </a>
{{/if}}
<div class="app-name">
  Ember Advanced Examples
</div>
{{#if error}}
  <div class="banner-error">
    😢 {{error}}
    <span onclick={{action clearErrorAction}} title="Dismiss">&times;</span>
</div>
{{/if}}