<h2>Ember Advanced Examples</h2>
<p>
  <h3>Your Coordinates</h3>
  <p>
    {{log lat lng}}
    <span><strong>latitude</strong> {{data-box data=lat}}</span>
    <span><strong>longitude</strong> {{data-box data=lng}}</span>
  </p>
  <hr />
  <h3>Your Headers</h3>
  <p>
    {{log host userAgent}}
    <span><strong>Host</strong> {{data-box data=host}}</span>
    <span><strong>UserAgent</strong> {{data-box data=userAgent}}</span>
  </p>
  <hr />
  <img src="/assets/images/builtwith.png" />
</p>